.addbutton {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 300px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.addbutton,
.addbutton__icon,
.addbutton__text {
  transition: all 0.3s;
}

.addbutton .addbutton__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.addbutton .addbutton__icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 80px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addbutton .addsvg {
  width: 20px;
  fill: var(--main-color);
}

.addbutton:hover {
  background: var(--bg-color);
}

.addbutton:hover .addbutton__text {
  color: transparent;
}

.addbutton:hover .addbutton__icon {
  width: 300px;
  transform: translateX(0);
}

.addbutton:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
