* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  background-image: url('./components/images/background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed relative to the viewport */
}

.List {
  height: 100vh;
}

.Card {
  background-color: #FFC000;
}